@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <input type="text" id="userInput" />
    <input type="text" id="messageInput" />
    <button id="sendButton">Send</button>
    <ul id="messagesList"></ul>
</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/js/notification.js"></script>