@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col">
        <h2>Message</h2>
        <input type="text" id="messageInput" />
        <button id="sendButton">Send</button>
        <button id="clearButton">Clear</button>
        <ul id="messagesList"></ul>
    </div>
    <div class="col">
        <h2>Message2</h2>
        <input type="text" id="messageInput2" />
        <button id="sendButton2">Send</button>
        <button id="clearButton2">Clear</button>
        <ul id="messagesList2"></ul>
    </div>
</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/js/notification.js"></script>
<script>
    document.getElementById('sendButton').addEventListener('click', function () {
        fetch('@Url.Action("PostMessage")', {
            method: "post",
            body: 'message=' + document.getElementById("messageInput").value,
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            }
        })
    });
    document.getElementById('clearButton').addEventListener('click', function () {
        fetch('@Url.Action("ClearMessages")', {
            method: "delete",
        })
    });

    document.getElementById('sendButton2').addEventListener('click', function () {
        fetch('@Url.Action("PostMessage2")', {
            method: "post",
            body: 'message=' + document.getElementById("messageInput2").value,
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            }
        })
    });
    document.getElementById('clearButton2').addEventListener('click', function () {
        fetch('@Url.Action("ClearMessage2s")', {
            method: "delete",
        })
    });
</script>