@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <input type="text" id="messageInput" />
    <button id="sendButton">Send</button>
    <button id="clearButton">Clear</button>
    <ul id="messagesList"></ul>
</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/js/notification.js"></script>
<script>
    document.getElementById('sendButton').addEventListener('click', function () {
        fetch('@Url.Action("PostMessage")', {
            method: "post",
            body: 'message=' + document.getElementById("messageInput").value,
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            }
        })
    });
    document.getElementById('clearButton').addEventListener('click', function () {
        fetch('@Url.Action("ClearMessages")', {
            method: "delete",
        })
    });
</script>